{"filter":false,"title":"config.xml","tooltip":"/source/apps/qf-app-01/config.xml","undoManager":{"mark":0,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":10,"column":47},"end":{"row":10,"column":52},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1403097095789,"hash":"4f9f2b0d13afe00caadee465329da3a3117979c2"}